body {
	margin: 0 20%;	
	border: 20px #bdc3c7 solid;
	padding: 17px;
	width: 60%;
	font-family: 'Source Sans Pro', sans-serif;
	
}

h1 {
	color: #3498db;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 2px;
}

h2	{
	color: #2c3e50;
	text-transform: capitalize;
	font-weight: 700;
}

.blockQuote {
	border-left: 5px #bdc3c7 solid;
	padding: 3px;
}